@import '@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        @apply mx-auto lg:px-40 px-3
    }

    h1 {
        @apply sm:text-5xl text-4xl font-bold lg:text-start text-center
    }

    h2 {
        @apply text-2xl font-semibold
    }

    h3 {
        @apply text-xl font-semibold text-blue-600
    }

    p {
        @apply text-lg
    }

    strong {
        @apply text-lg
    }
}

html {
    scroll-behavior: smooth;
}

/* global.css */

@keyframes changeBorderRadius {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    25% {
        border-radius: 30% 70% 70% 30% / 66% 30% 70% 34%
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    75% {
        border-radius: 15% 85% 18% 82% / 83% 38% 62% 17%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

#heroImage {
    animation: changeBorderRadius 8s infinite; /* Adjust the animation duration as needed */
}
